<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ReactNativeMapleTemplate.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.reactnative.maple.template</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>13</string>
		<key>SigningIdentity</key>
		<string>Apple Distribution: Aaron Shiel (2PY9C9CG2Y)</string>
		<key>Team</key>
		<string>2PY9C9CG2Y</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-01-13T03:26:02Z</date>
	<key>Name</key>
	<string>ReactNativeMapleTemplate</string>
	<key>SchemeName</key>
	<string>ReactNativeMapleTemplate</string>
</dict>
</plist>
